# Jira Configuration
JIRA_URL=https://comunidadesb.atlassian.net/jira/software/c/projects/TDECOM/boards/284?assignee=712020%3A2c8f81bb-28b8-40a6-88fd-14186d720082
JIRA_EMAIL=rbenavides@sb.cl
JIRA_API_TOKEN=ATATT3xFfGF02gG6vFik4YTJF4XR0Jsg21C4W2I7yN0c_gqva_RnVnoHWtRxvq1VLul02nmJTAWFExh8nVwCHmCllAGGabdCscoMg_WC-wEWMO3-7PE1QYDph07Hpuq1AYHe41Qw19gT9bxreKPSPkofet6lZ9dbkATNMxnZeA9aMcIFQogq4ho=36338C8E
JIRA_PROJECT_KEY=TDECOM

# AI Configuration
OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_MODEL=gpt-4o-mini

# Calendar Configuration
GOOGLE_CALENDAR_CREDENTIALS=credentials.json
CALENDAR_URL=https://calendar.google.com/calendar/ical/rbenavides%40sb.cl/public/basic.ics

# Email Configuration (from token project)
GMAIL_USER=rbenavides@sb.cl
GMAIL_PASSWORD=dlzhnhdjvyzolmim
